<% @grayscales.each do |grayscale| %>
  <dl>
    <h4>タイトル : <%= grayscale.title %></h4>
    <h4>理由 : <%= grayscale.reason %></h4>
    <h4>公開鍵 : <%= grayscale.p_key %></h4>
    <h4>sns : <%= grayscale.sns %></h4>
    <%= link_to '削除', grayscale, class: "btn btn-default", method: :delete %> 　<%= link_to '編集', edit_grayscale_path(grayscale),remote: true, class: "btn btn-default" %>

    <br>
      <br>
      <br>
  </dl>
<% end %>
